<div class="container">
  <div class="row">
    <h3>Users <small>(<%= User.count %> registered)</small></h3>
    <%= button_to "new user", new_user_path, class:"btn btn-primary", :method => :get %><br>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Logins</th>
          <th>Last Activity</th>
          <th>Role</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
