<div class="container">
  <div class="row">
    <h3>Users <small>(<%= User.count %> registered)</small></h3>
    <%= button_to "new user", new_user_path, class:"btn btn-primary", :method => :get %><br>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
