<div class="container">
  <div class="row"><br><br>
    <h3>Whoa Nelly! <small>(you took a wrong turn)</small></h3>
    <%= button_to "take me back home", dashboard_path, class:"btn btn-primary", :method => :get %><br>
  </div>
</div>