/*------------------------------------------------------------------

[Table of contents]

1. Imports 
2. Variables
3. Layout
4. Header / Navbar
5. UI Elements
6. Forms

-------------------------------------------------------------------*/

/* IMPORTS */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Montserrat);

/* VARIABLES */
$primary-blue: #0099ff;
$primary-font-set: 'Montserrat', arial, sans-serif;

/* LAYOUT */
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px;
  }
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
.column {
  @extend .col-md-8;
  @extend .text-center;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

/* HEADER & NAVBAR */
#logo {
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  color: white;
  font: {
    family: $primary-font-set;
    size: 1.7em;
    weight: bold;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.navbar-brand {
  font-size: inherit;
  }
.navbar li {
  padding-left: 0;
  padding-right: 0;
}
.navbar li.active a,
.navbar li.active a:hover,
.navbar li.active a:focus {
  border-color: #e6e6e6;
  color: #626262;
  background-color: #e6e6e6;
}
.navbar li a {
  border-radius: 0;
  margin-right: 0;
  min-width: 70px;
  text-transform: uppercase;
  border-color: transparent;
  color: rgba(98, 98, 98, 0.7);
  font: {
    family: $primary-font-set;
    size: 12px;
    weight: 400;
  }
}
.navbar li a:hover,
.navbar li a:focus {
  background: transparent;
  border-color: transparent;
  color: #626262;
}

/* UI ELEMENTS */
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
a.btn-ghost {
  border:2px solid #ffffff;
  background:transparent;
  padding:5px 15px;
  margin-top:11px;
  text-transform:uppercase;
  color:#ffffff;
  font: {
    family: $primary-font-set;
    size: 12px;
    weight: 400;
  }
}
a.btn-ghost:hover {
  color: $primary-blue;
  border:2px solid $primary-blue;
  text-decoration:none;
}

a.btn-ghost, a.btn-ghost:hover, a.btn-ghost:active, a.btn-ghost:visited {
  text-decoration:none;
}

/* FORMS */
.form {
  @extend .col-md-8;
  }
.form-centered {
  @extend .col-md-8;
  @extend .text-center;
  }
.authform {
  padding: 50px;
  max-width: 620px;
  margin: 0 auto;
}
.authform.login {
  padding: 30px 0;
  max-width: 320px;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}



