<%# primary navbar links for unauthenticated users %>
<li><%= active_link_to 'About', about_path, :class_active => 'active', :wrap_tag => :li %></li>
<li><%= active_link_to 'Contact', contact_path, :class_active => 'active', :wrap_tag => :li %></li>