<div class="container">
  <div class="row">
    <h3>Client Accounts <small>(<%= Account.count %> active)</small></h3>
    <%= button_to "new account", new_account_path, class:"btn btn-primary", :method => :get %><br>
    <div class="column">
      <table class="table">
        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              account
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>